@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply text-white font-montserrat;
    }
}

body {
    background-color: #1e2e56;
}

* {
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.progress-bar {
    animation: 1.5s progress;
}

.loading::after {
    content: "";
    animation: 1s progress-dots infinite;
}

.loading-screen {
    animation: 2s loading-screen;
}

@keyframes loading-screen {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes progress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes progress-dots {
    0% {
        content: ''
    }

    33% {
        content: '.'
    }

    67% {
        content: '..'
    }

    100% {
        content: '...'
    }
}

.swiper-slide {
    // max-width: fit-content;
}

.swiper {
    padding-bottom: 5rem !important;
}

.swiper-pagination {
    bottom: 0;
}

.swiper-pagination-bullet {
    background: white !important;
}

.swiper-pagination-bullet-active {
    background: #ccc !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1e2e56;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background: #06c4de;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2BB0C2;
    opacity: 0.7;
}